$("#football_pitch_football_pitch_type_id").append("<option value=\"<%= @football_pitch_type.id %>\"><%= @football_pitch_type.name %></option>");
$("#createFootballPitchTypeModal").modal("hide");
$("#new_football_pitch_type")[0].reset();
